{% load static i18n %}

{% if LANGUAGE_CODE == 'en' %}
<section class="featured-section">
    <div class="auto-container">
        <div class="content-box wow fadeInUp" data-wow-delay="0ms"  data-wow-duration="2000ms">
            <div class="row clearfix">
                <!--Featured Block-->
                <div class="featured-block-two col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="title">
                            <h3>
                                <span class="icon flaticon-creative"></span> 
                                <span class="txt">Recycled Carbon Fuels</span>
                            </h3>
                            
                        </div>
                        
                        <div class="text">Nunc quam arcu, pretium quis quam laoreet efficitur leo. Aliquam era volutpat. Integer lob sem consequat imperdiet diam.</div>
                        <div class="link-box">
                            <a href="#"><span class="icon flaticon-arrows-11"></span><span class="txt">Read More</span> </a>
                        </div>
                        <div class="icon-box22">
                            <span class="icon flaticon-creative"></span>
                        </div>
                    </div>
                </div>
                <!--Featured Block-->
                <div class="featured-block-two col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="title">
                            <h3>
                                <span class="icon flaticon-oil-2"></span> 
                                <span class="txt">Biomass Liquid Gas</span>
                            </h3>
                        </div>
                        <div class="text">Nunc quam arcu, pretium quis quam laoreet efficitur leo. Aliquam era volutpat. Integer lob sem consequat imperdiet diam.</div>
                        <div class="link-box">
                            <a href="#"><span class="icon flaticon-arrows-11"></span><span class="txt">Read More</span> </a>
                        </div>
                        <div class="icon-box22">
                            <span class="icon  flaticon-solar-energy-4"></span>
                        </div>
                    </div>
                </div>
                <!--Featured Block-->
                <div class="featured-block-two col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="title">
                            <h3>
                                <span class="icon flaticon-nature"></span> 
                                <span class="txt">Research & Analysis</span>
                            </h3>
                        </div>
                        <div class="text">Nunc quam arcu, pretium quis quam laoreet efficitur leo. Aliquam era volutpat. Integer lob sem consequat imperdiet diam.</div>
                        <div class="link-box">
                            <a href="#"><span class="icon flaticon-arrows-11"></span><span class="txt">Read More</span> </a>
                        </div>
                        <div class="icon-box22">
                            <span class="icon  flaticon-settings-2"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% else %}

<section class="featured-section">
    <div class="auto-container">
        <div class="content-box wow fadeInUp" data-wow-delay="0ms"  data-wow-duration="2000ms">
            <div class="row clearfix">
                <!--Featured Block-->
                <div class="featured-block-two col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="title">
                            <h3>
                                <span class="icon flaticon-creative"></span> 
                                <span class="txt">Recycled Carbon Fuels</span>
                            </h3>
                            
                        </div>
                        
                        <div class="text">Nunc quam arcu, pretium quis quam laoreet efficitur leo. Aliquam era volutpat. Integer lob sem consequat imperdiet diam.</div>
                        <div class="link-box">
                            <a href="#"><span class="icon flaticon-arrows-11"></span><span class="txt">Read More</span> </a>
                        </div>
                        <div class="icon-box22">
                            <span class="icon flaticon-creative"></span>
                        </div>
                    </div>
                </div>
                <!--Featured Block-->
                <div class="featured-block-two col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="title">
                            <h3>
                                <span class="icon flaticon-oil-2"></span> 
                                <span class="txt">Biomass Liquid Gas</span>
                            </h3>
                        </div>
                        <div class="text">Nunc quam arcu, pretium quis quam laoreet efficitur leo. Aliquam era volutpat. Integer lob sem consequat imperdiet diam.</div>
                        <div class="link-box">
                            <a href="#"><span class="icon flaticon-arrows-11"></span><span class="txt">Read More</span> </a>
                        </div>
                        <div class="icon-box22">
                            <span class="icon  flaticon-solar-energy-4"></span>
                        </div>
                    </div>
                </div>
                <!--Featured Block-->
                <div class="featured-block-two col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="title">
                            <h3>
                                <span class="icon flaticon-nature"></span> 
                                <span class="txt">Research & Analysis</span>
                            </h3>
                        </div>
                        <div class="text">Nunc quam arcu, pretium quis quam laoreet efficitur leo. Aliquam era volutpat. Integer lob sem consequat imperdiet diam.</div>
                        <div class="link-box">
                            <a href="#"><span class="icon flaticon-arrows-11"></span><span class="txt">Read More</span> </a>
                        </div>
                        <div class="icon-box22">
                            <span class="icon  flaticon-settings-2"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
