{% load static i18n %}

{% if LANGUAGE_CODE == 'en' %}
<footer class="main-footer footer-style-five">

    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Column-->
                <div class="footer-column col-lg-4 col-md-5 col-sm-12">
                    <div class="footer-widget about-widget">
                        <div class="footer-logo-box">
                            <a href="/" title="electman - Electrician HTML Template"><img src="{% static 'web/images/LOGO_TR.jpeg' %}" style="width:65%;" alt="" title=""></a>
                        </div>
                        <div class="about-text">Volton Elektrik İthalat İhracat Pazarlama Sanayi ve Ticaret Limited Şirketi</div>
                        <div class="footer-social">
                            <ul class="footer-social-two clearfix">
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="big-column col-lg-4 col-md-7 col-sm-12">
                    <div class="row clearfix">
                        <!--Column-->
                        <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Address</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                       <div class="info">
                            <!--Info Block-->
                            <div class="info-block">
                                <div class="icon-box">
                                    <span class="icon">
                                        <img src="{% static 'web/images/lokasyon.png' %}" alt="">
                                    </span>
                                </div>
                                <!--<strong>Visit The Office</strong>-->
                                <div class="info-text">Ayazağa Mahallesi, Mimar Sinan Sokak,  Seba Office Apt, No:21, Daire:71  Sarıyer/İstanbul/Turkey</div>
                            </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="footer-column col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget gallery-widget">
                        <div class="widget-title">
                            <h3>Contact</h3>
                        </div>
                        <div class="info">
                            <div class="info-block">
                                <div class="icon-box">
                                    <span class="icon">
                                        <img src="{% static 'web/images/phone.png' %}" alt="">
                                    </span>
                                </div>
                               <!----> <strong>Telephone</strong>
                                <div class="info-text">
                                    <a href="tel:(+90) 850 305 17 01">(+90) 850 305 17 01</a>
                                </div>
                            </div>
                            <!--Info Block-->
                            <div class="info-block">
                                <div class="icon-box">
                                    <span class="icon">
                                        <img src="{% static 'web/images/mail.png' %}" alt="">
                                    </span>
                                </div>
                                <strong>Email</strong>
                                <div class="info-text">
                                    <a href="mailto:info@domain.com">info@voltonelektrik.com.tr</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-box clearfix">
                <div class="inner clearfix">
                    <ul class="footer-nav clearfix">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'web:about_view' %}">About Us</a></li>
                        <li><a href="{% url 'web:per_viewen' %}">Products</a></li>
                        <li><a href="#">References</a></li>
                        <li><a href="{% url 'web:blog_view' %}">Blog</a></li>

                    </ul>
                    
                    <div class="footer_bttn">
                        <a href="{% url 'web:enquires_view' %}" class="theme-btn btn-style-seven"><div class="btn-title"><span class="btn-txt">Contact</span><span class="btn-icon"><span class="icon flaticon-arrows-11"></span> </span></div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">

            <div class="inner clearfix">
                <!--Scroll to top-->
                <div class="scroll-top-footer scroll-to-target" data-target="html"><span class="flaticon-arrows"></span></div>
                <!--Copyright-->
                <div class="copyright">Site by Black Cap Media </div>
                <div class="footer-nav">
                    <ul class="clearfix">
                        <li><a href="{% url 'web:aydinlatma_metni_en' %}">GDPR & Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    
</footer>
{% else %}
<footer class="main-footer footer-style-five">
    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Column-->
                <div class="footer-column col-lg-4 col-md-5 col-sm-12">
                    <div class="footer-widget about-widget">
                        <div class="footer-logo-box">
                            <a href="/" title="electman - Electrician HTML Template"><img src="{% static 'web/images/LOGO_TR.svg' %}" style="width:65%;" alt="" title=""></a>
                        </div>
                        <div class="about-text">Volton Elektrik İthalat İhracat Pazarlama Sanayi ve Ticaret Limited Şirketi</div>
                        <div class="footer-social">
                            <ul class="footer-social-two clearfix">
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="big-column col-lg-4 col-md-7 col-sm-12">
                    <div class="row clearfix">
                        <!--Column-->
                        <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Adres</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                       <div class="info">
                            <!--Info Block-->
                            <div class="info-block">
                                <div class="icon-box">
                                    <span class="icon">
                                        <img src="{% static 'web/images/lokasyon.png' %}" alt="">
                                    </span>
                                </div>
                                <!--<strong>Visit The Office</strong>-->
                                <div class="info-text">Ayazağa Mahallesi, Mimar Sinan Sokak,  Seba Office Apt, No:21, Daire:71  Sarıyer/İstanbul/Türkiye</div>
                            </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="footer-column col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget gallery-widget">
                        <div class="widget-title">
                            <h3>İletişim</h3>
                        </div>
                        <div class="info">
                            <div class="info-block">
                                <div class="icon-box">
                                    <span class="icon">
                                        <img src="{% static 'web/images/phone.png' %}" alt="">
                                    </span>
                                </div>
                               <!----> <strong>Telefon</strong>
                                <div class="info-text">
                                    <a href="tel:((+90) 850 305 17 01">(+90) 850 305 17 01</a>
                                </div>
                            </div>
                            <!--Info Block-->
                            <div class="info-block">
                                <div class="icon-box">
                                    <span class="icon">
                                        <img src="{% static 'web/images/mail.png' %}" alt="">
                                    </span>
                                </div>
                                <strong>Mail</strong>
                                <div class="info-text">
                                    <a href="mailto:info@domain.com">info@voltonelektrik.com.tr</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-box clearfix">
                <div class="inner clearfix">
                    <ul class="footer-nav clearfix">
                        <li><a href="/">Ana Sayfa</a></li>
                        <li><a href="{% url 'web:about_view' %}">Hakkımızda</a></li>
                        <li><a href="{% url 'web:per_view' %}">Ürünler</a></li>
                        <li><a href="#">Referanslar</a></li>
                        <li><a href="{% url 'web:blog_view_new' %}">Blog</a></li>

                    </ul>
                    
                    <div class="footer_bttn">
                        <a href="{% url 'web:iletisim' %}" class="theme-btn btn-style-seven"><div class="btn-title"><span class="btn-txt">İletişim</span><span class="btn-icon"><span class="icon flaticon-arrows-11"></span> </span></div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">

            <div class="inner clearfix">
                <!--Scroll to top-->
                <div class="scroll-top-footer scroll-to-target" data-target="html"><span class="flaticon-arrows"></span></div>
                <!--Copyright-->
                <div class="copyright">Site by Black Cap Media </div>
                <div class="footer-nav">
                    <ul class="clearfix">
                        <li><a href="{% url 'web:aydinlatma_metni' %}">KVKK Aydınlatma Metni</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    
</footer>
{% endif %}
</div>