
{% load static i18n %}

{% if LANGUAGE_CODE == 'en' %}
<section class="fun-facts-section">
    <div class="bg-pattern-layer"></div>

    <div class="fact-counter">
        <div class="auto-container">

            <div class="row clearfix">
                <!--Column-->
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner">
                        <div class="icon-box"><img src="{% static 'web/images/icons/d.png' %}" alt="current"></div>
                        <div class="count-box"><span class="count-text" data-speed="1000" data-stop="199">0</span>+ </div>
                        <div class="counter-title">Building & New Home</div>
                    </div>
                </div>
                <!--Column-->
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                    <div class="inner">
                        <div class="icon-box"><img src="{% static 'web/images/icons/f.png' %}" alt="current"></div>
                        <div class="count-box"><span class="count-text" data-speed="2500" data-stop="350">0</span>+</div>
                        <div class="counter-title">Systems Installed</div>
                    </div>
                </div>

                <!--Column-->
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                    <div class="inner">
                        <div class="icon-box"><img src="{% static 'web/images/icons/a.png' %}" alt="current"></div>
                        <div class="count-box"><span class="count-text" data-speed="1000" data-stop="2.5">0</span>k Watt</div>
                        <div class="counter-title">Energy Financing Done</div>
                    </div>
                </div>

                <!--Column-->
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
                    <div class="inner no">
                        <div class="icon-box"><img src="{% static 'web/images/icons/c.png' %}" alt="current"></div>
                        <div class="count-box"><span class="count-text" data-speed="2500" data-stop="2700">0</span>+</div>
                        <div class="counter-title">Hours Of Inspection</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="fun-facts-section">
    <div class="bg-pattern-layer"></div>

    <div class="fact-counter">
        <div class="auto-container">

            <div class="row clearfix">
                <!--Column-->
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner">
                        <div class="icon-box"><img src="{% static 'web/images/icons/d.png' %}" alt="current"></div>
                        <div class="count-box"><span class="count-text" data-speed="1000" data-stop="199">0</span>+ </div>
                        <div class="counter-title">Building & New Home</div>
                    </div>
                </div>
                <!--Column-->
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                    <div class="inner">
                        <div class="icon-box"><img src="{% static 'web/images/icons/f.png' %}" alt="current"></div>
                        <div class="count-box"><span class="count-text" data-speed="2500" data-stop="350">0</span>+</div>
                        <div class="counter-title">Systems Installed</div>
                    </div>
                </div>

                <!--Column-->
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                    <div class="inner">
                        <div class="icon-box"><img src="{% static 'web/images/icons/a.png' %}" alt="current"></div>
                        <div class="count-box"><span class="count-text" data-speed="1000" data-stop="2.5">0</span>k Watt</div>
                        <div class="counter-title">Energy Financing Done</div>
                    </div>
                </div>

                <!--Column-->
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
                    <div class="inner no">
                        <div class="icon-box"><img src="{% static 'web/images/icons/c.png' %}" alt="current"></div>
                        <div class="count-box"><span class="count-text" data-speed="2500" data-stop="2700">0</span>+</div>
                        <div class="counter-title">Hours Of Inspection</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
