{% load static i18n %}
{% if LANGUAGE_CODE == 'en' %}
<section class="recent-projects-two">
    <div class="auto-container">
        <div class="sec-title hydro-theme">
            <div class="upper-text"><span class="logo_bolt2"><img src="{% static 'web/images/bolt.gif' %}" alt="current"></span>Latest Work We have Done</div>
            <h2>Recently Done Projects</h2>
            <div class="bottom-dots clearfix">
                <span class="dot line-dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <div class="mixit-gallery">
            <div class="filters clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="filter active" data-role="button" data-filter="all"><span class="txt">All Projects</span></li>
                    <li class="filter" data-role="button" data-filter=".construction"><span class="txt">Commercial</span></li>
                    <li class="filter" data-role="button" data-filter=".solar"><span class="txt">Construction</span></li>
                    <li class="filter" data-role="button" data-filter=".eco"><span class="txt">Repair</span></li>
                    <li class="filter" data-role="button" data-filter=".residential"><span class="txt">Residential</span></li>
                </ul>                     
            </div>
            <div class="filter-list row clearfix">
                <div class="project-block-two mix all eco residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/7.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/7.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Project Block-->
                <div class="project-block-two mix all eco residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/1.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/1.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Block-->
                <div class="project-block-two mix all construction eco col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/2.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/2.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Block-->
                <div class="project-block-two mix all solar residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/3.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/3.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Block-->
                <div class="project-block-two mix all eco residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/4.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/4.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Block-->
                <div class="project-block-two mix all construction solar eco residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/5.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/5.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Block-->
                <div class="project-block-two mix all solar  residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/6.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/6.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Block-->
                <div class="project-block-two mix all solar eco col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/7.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/7.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Project Block-->
                <div class="project-block-two mix all construction residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/8.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/8.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
{% else %}
<section class="recent-projects-two">
    <div class="auto-container">
        <div class="sec-title hydro-theme">
            <div class="upper-text"><span class="logo_bolt2"><img src="{% static 'web/images/bolt.gif' %}" alt="current"></span>Latest Work We have Done</div>
            <h2>Recently Done Projects</h2>
            <div class="bottom-dots clearfix">
                <span class="dot line-dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <div class="mixit-gallery">
            <div class="filters clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="filter active" data-role="button" data-filter="all"><span class="txt">All Projects</span></li>
                    <li class="filter" data-role="button" data-filter=".construction"><span class="txt">Commercial</span></li>
                    <li class="filter" data-role="button" data-filter=".solar"><span class="txt">Construction</span></li>
                    <li class="filter" data-role="button" data-filter=".eco"><span class="txt">Repair</span></li>
                    <li class="filter" data-role="button" data-filter=".residential"><span class="txt">Residential</span></li>
                </ul>                     
            </div>
            <div class="filter-list row clearfix">
                <div class="project-block-two mix all eco residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/7.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/7.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Project Block-->
                <div class="project-block-two mix all eco residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/1.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/1.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Block-->
                <div class="project-block-two mix all construction eco col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/2.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/2.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Block-->
                <div class="project-block-two mix all solar residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/3.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/3.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Block-->
                <div class="project-block-two mix all eco residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/4.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/4.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Block-->
                <div class="project-block-two mix all construction solar eco residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/5.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/5.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Block-->
                <div class="project-block-two mix all solar  residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/6.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/6.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Block-->
                <div class="project-block-two mix all solar eco col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/7.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/7.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Project Block-->
                <div class="project-block-two mix all construction residential col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image">
                                <img src="{% static 'web/images/project/8.jpg' %}" alt="">
                            </div>
                            <div class="overlay">
                                <div class="over-inner">
                                    <div class="zoom-btn">
                                        <a href="images/project/8.jpg" class="lightbox-image" data-fancybox="project-gallery">
                                            <span class="fa fa-search-plus"></span>
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#"> </a></h3>
                                    </div>
                                    <div class="cat">Construction</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
{% endif %}
