  <!-- Sticky Header  
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo
                <div class="logo pull-left">
                    <a href="index-2.html" title=""><img src="{% static 'web/images/logo_small.png' %}" alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav><!-- Main Menu End-->
                </div>
            </div>
        </div><!-- End Sticky Menu -->