{% load static i18n %}

{% if LANGUAGE_CODE == 'en' %}
<section class="testimonial-section-two">
    <div class="auto-container">
      <div class="left_image1">
        <div class="image">
            <img src="{% static 'web/images/main/service-left-icon.png' %}" alt="">
        </div>
    </div>
      <div class="sec-title centered bio-theme">
            <div class="upper-text"><span class="logo_bolt2"><img src="{% static 'web/images/bolt.gif' %}" alt="current"></span>Our Testimonials</div>
            <h2>Clients Testimonials</h2>
            <div class="bottom-dots clearfix">
                <span class="dot line-dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>

        <div class="content-box">
            <div class="history-carousel strnix-carousel owl-theme owl-carousel" data-options='{"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 500, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" }, "800":{ "items" : "1" }, "1024":{ "items" : "1" }}}'>
                <!--Slide-->
                <div class="slide-item">
                    <div class="inner">
                        <div class="testi-info">
                            <div class="testi-thumb">
                                <img src="{% static 'web/images/main/author-2.jpg' %}" alt="">
                            </div>
                            <div class="info"><span>Shepa Thomas</span></div>
                            <div class="designation">Florida, USA</div>
                        </div>
                        <div class="content">
                            <div class="text">“They consistently do exemplary work each time they have been in our home.If you are looking for a company that is ethical then your search is over.Great service. They really helped me out when my heater went out. They made the service and payment very convenient for me. I highly recommend this company.”</div>
                        </div>
                    </div>
                </div>
                <!--Slide-->
                <div class="slide-item">
                    <div class="inner">
                        <div class="testi-info">
                            <div class="testi-thumb">
                                <img src="{% static 'web/images/main/author-2.jpg' %}" alt="">
                            </div>
                            <div class="info"><span>Shepa Thomas</span></div>
                            <div class="designation">Florida, USA</div>
                        </div>
                        <div class="content">
                            <div class="text">“They consistently do exemplary work each time they have been in our home.If you are looking for a company that is ethical then your search is over.Great service. They really helped me out when my heater went out. They made the service and payment very convenient for me. I highly recommend this company.”</div>
                        </div>
                    </div>
                </div>
                <!--Slide-->
                <div class="slide-item">
                    <div class="inner">
                        <div class="testi-info">
                            <div class="testi-thumb">
                                <img src="{% static 'web/images/main/author-2.jpg' %}" alt="">
                            </div>
                            <div class="info"><span>Shepa Thomas</span></div>
                            <div class="designation">Florida, USA</div>
                        </div>
                        <div class="content">
                            <div class="text">“They consistently do exemplary work each time they have been in our home.If you are looking for a company that is ethical then your search is over.Great service. They really helped me out when my heater went out. They made the service and payment very convenient for me. I highly recommend this company.”</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% else %}
<section class="testimonial-section-two">
    <div class="auto-container">
      <div class="left_image1">
        <div class="image">
            <img src="{% static 'web/images/main/service-left-icon.png' %}" alt="">
        </div>
    </div>
      <div class="sec-title centered bio-theme">
            <div class="upper-text"><span class="logo_bolt2"><img src="{% static 'web/images/bolt.gif' %}" alt="current"></span>Our Testimonials</div>
            <h2>Clients Testimonials</h2>
            <div class="bottom-dots clearfix">
                <span class="dot line-dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>

        <div class="content-box">
            <div class="history-carousel strnix-carousel owl-theme owl-carousel" data-options='{"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 500, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" }, "800":{ "items" : "1" }, "1024":{ "items" : "1" }}}'>
                <!--Slide-->
                <div class="slide-item">
                    <div class="inner">
                        <div class="testi-info">
                            <div class="testi-thumb">
                                <img src="{% static 'web/images/main/author-2.jpg' %}" alt="">
                            </div>
                            <div class="info"><span>Shepa Thomas</span></div>
                            <div class="designation">Florida, USA</div>
                        </div>
                        <div class="content">
                            <div class="text">“They consistently do exemplary work each time they have been in our home.If you are looking for a company that is ethical then your search is over.Great service. They really helped me out when my heater went out. They made the service and payment very convenient for me. I highly recommend this company.”</div>
                        </div>
                    </div>
                </div>
                <!--Slide-->
                <div class="slide-item">
                    <div class="inner">
                        <div class="testi-info">
                            <div class="testi-thumb">
                                <img src="{% static 'web/images/main/author-2.jpg' %}" alt="">
                            </div>
                            <div class="info"><span>Shepa Thomas</span></div>
                            <div class="designation">Florida, USA</div>
                        </div>
                        <div class="content">
                            <div class="text">“They consistently do exemplary work each time they have been in our home.If you are looking for a company that is ethical then your search is over.Great service. They really helped me out when my heater went out. They made the service and payment very convenient for me. I highly recommend this company.”</div>
                        </div>
                    </div>
                </div>
                <!--Slide-->
                <div class="slide-item">
                    <div class="inner">
                        <div class="testi-info">
                            <div class="testi-thumb">
                                <img src="{% static 'web/images/main/author-2.jpg' %}" alt="">
                            </div>
                            <div class="info"><span>Shepa Thomas</span></div>
                            <div class="designation">Florida, USA</div>
                        </div>
                        <div class="content">
                            <div class="text">“They consistently do exemplary work each time they have been in our home.If you are looking for a company that is ethical then your search is over.Great service. They really helped me out when my heater went out. They made the service and payment very convenient for me. I highly recommend this company.”</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endif %}
